.page{
    background-image: url("../images/backgrounds/stars.jpg");
}
.page-content{
    height: unset;
    color: white;
    align-items: center;
    padding-bottom: 2em;
}
@media only screen and (max-width: 767px){
    .page-content{
    padding-top: var(--cellularHeaderHeight);
    }
    .bottom-blurbs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .blurb-container p {
        font-size: 1em;
        /* text-indent: 1.6em; */
        line-height: 1.2em;
        text-align: center;
    }
    .values-container{
        display: table-cell;
    }

    .value{
        padding-bottom: 34px;
    }

    .value img{
        padding-bottom: 10px
    }



}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .team-picture-container{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2em;
    }
    .page-content{
    padding-top: var(--tabletHeaderHeight);
    }
}
/* Desktop */
@media only screen and (min-width: 1024px){
    .blurb-container p {
        font-size: 1.3em;
        /* text-indent: 2.6em; */
        line-height: 1.3em;
    }
    .values-container{
        display: flex;
    }

    .value{
        padding-bottom: 30px;
    }
    .page-content{
    padding-top: var(--desktopHeaderHeight);
    }
}

header{
    position: fixed;
    top: 0;
    width: 100%;

    
}



.blurb-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    width: 90%;
    margin: 0px auto 32px auto;
}

.blurb-container h2{
    margin-bottom: .25em;
}
.blurb-container hr{
    margin: 9px auto;
    width: 80%;
}

.about-us {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    margin: 10px auto 35px auto;
}

.values-container{
    flex-grow: initial;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.value{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* max-width: 300px;
    min-width: 200px; */
    margin: 0 auto;
}

.value img{
    height: 125px;
    margin: 0 auto 0 auto;
}

.value h2, .value p{
    text-align: center;
    margin: 10px auto 0 auto;
    max-width: 90%;
}
.team-picture-container img{
    width: 100%;
}