html{height: 100%;}
body{height: 100%;}
a {text-decoration: none;} a:hover {text-decoration: none;}
.background2{background-image: url("../images/backgrounds/stars.jpg");background-size: cover;min-height:100%;background-position: center;background-repeat: repeat-y;}
.pre-back{background: url(../images/backgrounds/pod%20blur.jpg) fixed;background-size: cover;height: 100%;background-position: center;}
#page a:hover{color: crimson;}
#lngtxt{margin-bottom: 40px; font-size: 2.3vh;}
#page h1{font-weight: 900; font-size: 4vh}
#page h2{font-weight: 900; font-size: 4vh}
p  {font-size: 2.3vh}
.insta{height: 30vh; overflow: scroll;overflow-x: hidden;margin-bottom: 10vh;}

@media screen and (max-width: 991px) {
    .pre-back{height: 50%;}
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 10px;
}
