.page{
    background-image: url("../images/backgrounds/stars.jpg");
    background-attachment: fixed;
}
.page-content{
    height: unset;
    color: white;
    align-items: center;
    padding-bottom: 2em;
}

.slideImage{
    border-radius: 8px;
}
@media only screen and (max-width: 767px){
    .page-content{
    padding-top: var(--cellularHeaderHeight);
    }
    .bottom-blurbs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .blurb-container p {
        font-size: 1em;
        /* text-indent: 1.6em; */
        line-height: 1.2em;
        text-align: center;
    }
    .values-container{
        display: table-cell;
    }

    .value{
        padding-bottom: 34px;
    }

    .value img{
        padding-bottom: 10px
    }

    .ELL_slideshow{
        width: 100%;
        max-width: none;
    }
    .slideImage{
        border-radius: 0px;
    }



}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .team-picture-container{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2em;
    }
    .page-content{
    padding-top: var(--tabletHeaderHeight);
    }
}
/* Desktop */
@media only screen and (min-width: 1024px){
    .blurb-container p {
        font-size: 1.3em;
        /* text-indent: 2.6em; */
        line-height: 1.3em;
    }
    .values-container{
        display: flex;
    }

    .value{
        padding-bottom: 30px;
    }
    .page-content{
    padding-top: var(--desktopHeaderHeight);
    }
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.blurb-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    width: 90%;
    margin: 0px auto 32px auto;
}

.blurb-container h2{
    margin-bottom: .25em;
}
.blurb-container hr{
    margin: 9px auto;
    width: 80%;
}

.about-us {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    margin: 10px auto 35px auto;
}

.values-container{
    flex-grow: initial;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.value{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* max-width: 300px;
    min-width: 200px; */
    margin: 0 auto;
}

.value img{
    height: 125px;
    margin: 0 auto 0 auto;
}

.value h2, .value p{
    text-align: center;
    margin: 10px auto 0 auto;
    max-width: 90%;
}
.team-picture-container img{
    width: 100%;
}

.ELL_slideshow{
    max-width: 800px;
    position: relative;
    margin: auto;
    box-shadow: 5px 2px 15px grey;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
