.page {
    background-image: url("../images/backgrounds/stars.jpg");
    color: black;
    height: 702px;
  }
  
  .page-content{
    color: white;
    align-items: center;
  }
  
  .sidebar-list-label {
    text-transform: uppercase;
    white-space: pre-line;
    text-align: center;
  }
  
  .rightside-info-subcontainer {
    align-items: center;
  }
  #inactive-label {
    cursor: pointer;
    color: white;
    opacity: 0.4;
  }
  
  #inactive-label:hover {
    opacity: 1;
    transition: all 1s;
  }
  
  #active-label {
    cursor: inherit;
    opacity: 1;
    color: var(--HyperloopRed);
    background-position: -100%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.8);
  }
  
  #rightside-info-container {
    border-radius: 10px;
  }
  
  #all-img {
    max-width: 60%;  
  }
  
  #all-desc {
      font-size: 1.2em;
      text-align: center;
      height: 400px;
      line-height: 30px;
      display: table;
      height: auto;
      
  }
  
  #propulsion-img {
    max-width: 60%;  
  }
  
  #propulsion-desc {
      font-size: 1.2em;
      text-align: center;
      height: 400px;
      line-height: 32px;
      display: table;
      height: auto;
      
  }
  
  #breaking-img {
    max-width: 40%;  
  }
  
  #breaking-desc {
      font-size: 1.2em;
      text-align: center;
      height: 400px;
      line-height: 32px;
      display: table;
      height: auto;
      
  }
  #suspension-img {
    max-width: 50%;  
  }
  #suspension-desc {
      font-size: 1.2em;
      text-align: center;
      height: 400px;
      line-height: 32px;
      display: table;
      height: auto;
      
  }
  /* Mobile Sizing */
  @media only screen and (max-width: 1023px) {
    .sponsorship-description-wrapper {
      width: 85%;
    }
  
    .package {
      font-size: 87%;
    }
    #propulsion-content {
      padding: 0.5em 0;
    }
    .sponsorship-description-wrapper {
      margin: 1em auto;
      padding-left: 1em;
    }
    .rightside-info-subcontainer {
      color: white;
    }
    .package img {
      width: 100%;
    }
    #propulsion {
      /* display: none; */
    }
    #sidebar-list-container {
      display: none;
    }
    .rightside-info-subcontainer {
      background-color: rgb(255, 255, 255, 0.2);
      margin: 1.5em 0;
    }
    #sponsors-content img {
      max-width: 29%;
    }
    #sponsors-content {
      padding: 1em 0;
    }
    .rightside-info-subcontainer-content-header {
      display: none;
    }
  
  }
  
  /* Cellular Sizing */
  @media only screen and (max-width: 767px) {
  }

  /* Tablet Sizing */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #sidebar-list-container {
      display: none;
    }
    #propulsion-content{
        font-size: 135%;
    }
  }
  
  /* Desktop/Laptop Sizing */
  @media only screen and (min-width: 1024px) {
    .page-content{
      height: calc(100% - var(--desktopHeaderHeight));
    }
    .sponsorship-description-wrapper {
      font-size: x-large;
      margin: 1em auto 0 auto;
    }
    .package img {
      height: calc(90% - 1.85em);
      width: auto;
    }
    #sidebar-list-container {
      border-right: solid 2px lightgray;
    }
    .rightside-info-subcontainer {
      background-color: rgb(255, 255, 255, 0.5);
    }
    #sponsors-content img {
      max-width: 25%;
    }
    .active-tier-description {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
    }
    .mobile-propulsion-content {
      display: none;
    }
    .rightside-info-subcontainer-content-header {
      height: 7%;
      align-items: center;
      margin-bottom: 1%;
    }
    .sponsorship-description-wrapper {
      width: 80%;
      max-width: 800px;
      /* font-size: x-large; */
    }  
  }
  
  .rightside-info-subcontainer {
    align-items: center;
  }
  #inactive-label {
    cursor: pointer;
    color: white;
    opacity: 0.4;
  }
  
  #inactive-label:hover {
    opacity: 1;
    transition: all 1s;
  }
  
  #active-label {
    cursor: inherit;
    opacity: 1;
    color: var(--HyperloopRed);
    background-position: -100%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.8);
  }
  
  #rightside-info-container {
    border-radius: 10px;
  }
  
  
  /* .rightside-info-subcontainer-content #autodesk{
      width: 30%;
      height: auto;
  }
  .rightside-info-subcontainer-content #orangatang{
      width: 60%;
      height: auto;
  }
  .rightside-info-subcontainer-content #maxamps{
      width: 50%;
      height: auto;
  }
  .rightside-info-subcontainer-content #bonesBearings{
      width: 20%;
      height: auto;
  }
  .rightside-info-subcontainer-content #tekton{
      height: 10%; 
      width: auto;
  }
  .rightside-info-subcontainer-content #teconn{
      height: 15%;
      width: auto;
  } */
  
  .rightside-info-subcontainer-content-header h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    line-height: 100%;
  }
  
  .tier-packages-logos {
    width: 100%;
    padding: 0 0 0 0;
    margin: 1% 0;
    height: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .package {
    padding: 1% 0.4%;
    margin: 5px 4px;
    height: 100%;
    width: 23%;
    max-width: 170px;
    text-align: center;
    border-radius: 20px;
    transition: ease-in-out;
    transition-duration: 0.25s;
  }
  
  .package h3 {
    font-size: 1em;
  }
  .package p {
    font-size: 0.85em;
  }
  
  #package-descriptions-container {
    height: 63%;
  }
 
  .package-description {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: calc(25% - 5px);
    display: flex;
    border-radius: 10px;
    transition: ease-in-out;
    transition-duration: 0.25s;
  }
  
  .package-description-label {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    font-size: 1.3em;
  }
  
  .package-description-content {
    display: flex;
    align-items: center;
    width: 75%;
    list-style-position: inside;
    font-size: 1.2em;
  }
  #sponsorship-packet-label a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    opacity: 0.4;
    transition: 0.3s;
  }
  
  #sponsorship-packet-label a:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
    opacity: 1;
  }
  
  .mobile-propulsion-content {
    margin: 1.5em 0;
    height: 3em;
  }
  
  .sponsorship-description-wrapper ul li {
    transition: ease-in-out;
    transition-duration: 0.4s;
    opacity: 0.5;
    margin: 5px 0px;
  }
  
  .active-package-logo {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
  }
  
  .centered-text a {
    text-decoration: none;
    color: #ff4949;
  }
  