/* HTML Body and Generic Backgrounds*/
html{min-height: 100%;}
body{width: 100%; overflow-x:hidden; margin: 0%;background-color:#1c1c1c}
#page{background-color: white;min-height: 100%;}
.blackbackground {background-color: black;}
.whitebackground{background-color: white;}

/*-----Nav-Button & Nav-Bar---*/
#navbar{background-color: white; height: 70px; border-color: transparent; margin-bottom: 0px; border-radius: 0px;overflow: hidden;}
#blacknav{color: black; padding-top: 0px; padding-bottom: 0px; padding-left: 13px; padding-right: 13px; font-style: normal;}
@media (max-width: 768px) {
  #blacknav{padding-left: 5%;}
}
#blacknav h4{font-weight: 900;}
.navbutton {text-align: left;display: inline-block;position:relative;overflow:hidden;color: black;text-transform: capitalize;margin-top: 15px;}
.navbutton:hover{color: crimson;text-decoration: none;}
.navbutton:hover:before {width: 100%;left:0;}
.navbutton:before {content: "";position: absolute;width: 0;background : crimson;left: 45%;height: 2px;bottom: 0;transition: all .3s;}
.navbar{margin: 0px;}
.navbar img{padding-left: 0px;}

/* Generic Colors for Text*/
.white{color: white}
.black{color: #1c1c1c;}
.blacktext{color: #1c1c1c;}

/* Font Call Class*/
.font{font-family: 'Quattrocento Sans', sans-serif;}



/*----Footer-----*/
#footer{background-color: #1c1c1c;height: 10vh;z-index: 1;width: 100%;}
#footer a{text-decoration: none;color: white;}
#footer h3{text-decoration: none;color: white;font-weight: 900;}
#footer h3:hover{text-decoration: none;color: crimson;}
.copyright{font-size: 20px; margin-top: 15px; margin-bottom: 3px;}
#fb{margin-top: 3px;}

.container-fluid{padding-right:0px;padding-left:0;margin-right:auto;margin-left:auto;overflow: hidden;}
.navbar-right{margin-right:15px;}

a:link {text-decoration: none;}a:visited {text-decoration: none;}a:hover {text-decoration: none;}a:active {text-decoration: none;}

.main-title{font-weight: 900;font-size: 5em;margin-top: 60%;}

@media screen and (max-width: 991px) {
    .main-title {font-size: 3em; margin: 55% 0%;}
    .copyright{margin-bottom: 0px;}
    #fb {margin-bottom: 0px;}
    .cc{margin-top: 5px;font-size: 1em;}
    #footer {height:10%; margin-bottom: 0px; padding-bottom: 0px;}
    .logo{content:url("../images/logotextthin.png"); width: 70%; height: auto; margin-left: 2%;}
    .navbar-header{padding-left: 10px; padding-right: 10px;}
    .whitebackground{padding-bottom: 27%;}
}

/* Navbar Attributes */
/* width */
::-webkit-scrollbar {width: 5px;}

/* Track */
::-webkit-scrollbar-track {background: transparent;}

/* Handle */
::-webkit-scrollbar-thumb {background: crimson;border-radius: 10px;}
