@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quattrocento Sans", "SF Pro Display", Helvetica, Arial, sans-serif;
  letter-spacing: -0.035em;
}

a{
  text-decoration: none;
  color: inherit;
}

/* Put all global vars here */
:root {
  --HyperloopRed: #b41414;
  --buttonColor: #dd413c;
  --footerHeight: 120px;
  --navigationButtonHeight: 5px;

  --cellularHeaderHeight: 50px;
  --tabletHeaderHeight: 66px;
  --desktopHeaderHeight: 95px;
  --cellularMaxWidth: 767px;
  --tabletMaxWidth: 1023px;
}

/* Animations & Keyframes */
@keyframes hyperloop-hover {
  12.5% {
    transform: translateY(-1.5%);
  }
  25% {
    transform: scale(1.002) translateY(-3.5%);
  }
  37.5% {
    transform: scale(1.003) translateY(-1%);
  }
  50% {
    transform: scale(1.004) translateY(0%);
  }
  62.5% {
    transform: scale(1.003) translateY(1%);
  }
  75% {
    transform: scale(1.002) translateY(2.5%);
  }
  87.5% {
    transform: scale(1.001) translateY(1%);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Mobile Sizing */
@media only screen and (max-width: 1023px) {
  #mobile-dropdown-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  #button-bar1-X {
    /* top: 12.5px; */
    transform: translateX(0px) translateY(calc(var(--navigationButtonHeight) * 1))
      rotate(135deg) scale(1.2);
  }

  #button-bar2-X {
    margin: 0 auto;
    /* opacity: 0; */
    /* top: 22.5px; */
    transform: scale(0) translate(50px, 0px);
    /* translate(10px, 0px); */
  }

  #button-bar3-X {
    /* bottom: 12.5px; */
    transform: translateX(0px) translateY(calc(var(--navigationButtonHeight) * -1))
      rotate(-135deg) scale(1.2);
  }

  .mobile-dropdown-button-bar {
    height: var(--navigationButtonHeight);
    width: calc(7 * var(--navigationButtonHeight));
  }

  .mobile-dropdown-button-bar:nth-of-type(2) {
    margin-top: var(--navigationButtonHeight);
    margin-bottom: var(--navigationButtonHeight);
  }
  .mobile-dropdown-button-bar {
    border-radius: 5px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition-duration: 0.7s;
  }
}
/* Cellular Sizing */
@media only screen and (max-width: 767px) {
  #mae-department-footer-logo img{
    height: 40px;
    width: auto;
  }
  #hyperloop-footer-logo img{
    height: 45px;
    width: auto;
  }

  .page {
    background-repeat: repeat;
  }

  .navbar-container-computer {
    display: none;
  }

  header {
    height: var(--cellularHeaderHeight);
    position: sticky;
    z-index: 5;
  }

  #navbar-container-mobile {
    display: inline-block;
    height: var(--cellularHeaderHeight);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    transition-duration: 1s;
    box-shadow: 0px 0px 0px -18px rgba(255, 255, 255, 0.6), 0 3px 24px rgba(0, 0, 0, 0.8);
  }

  #navbar-container-mobile:hover {
  }

  .navbar-logo {
    /* display: block; */
    height: var(--cellularHeaderHeight);
    /* float: left; */
    /* padding: 2px 0; */
    /* margin-left: calc(50% - 43px); */
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .navbar-logo a img {
    height: 100%;
  }

  #mobile-logo {
    display: inline-block;
    height: var(--cellularHeaderHeight);
  }
  #desktop-logo {
    display: none;
  }
  #mobile-dropdown-button {
    height: var(--cellularHeaderHeight);
    width: var(--cellularHeaderHeight);
    background-color: rgba(133, 133, 133, 0.7);
    float: right;
    transition: display 1s;
    position: relative;
    border: none;
    outline: none;
  }

  #mobile-dropdown-container-hidden {
    /* transform: scaleY(0); */
    transform: translate(0px, -375px);
  }

  #mobile-dropdown-container-visible {
    /* transform: scaleY(1); */
    /* transform: translate(0px, -50px); */
  }
  .mobile-dropdown-container {
    z-index: -1;
    transform-origin: top;
    top: 0px;
    transition: cubic-bezier(0.25, -0.08, 0.21, 0.88);
    transition-duration: 0.8s;
    position: absolute;
    height: auto;
    float: right;
    right: 0;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .mobile-dropdown-container ul {
    padding-top: var(--cellularHeaderHeight);
    height: 100%;
    width: 100%;
    list-style: none;
    list-style-position: inside;
    list-style-type: none;
  }

  .mobile-dropdown-container li {
    width: 100%;
    text-align: center;
    text-decoration: none;
    /* padding: 10px 0 10px 0; */
    transition: ease-in 0.4s;
    /* margin: 10px 0 10px 0; */
    color: black;
    position: relative;
    display: flex;
  }

  .mobile-dropdown-container li:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }

  .mobile-link {
    position: relative;
    text-decoration: none;
    font-size: 2em;
    color: inherit;
    margin: 0 auto 0 auto;
    padding: 0;
    padding: 10px 0 10px 0;
    width: 100%;
    /* border: 2px solid black; */
    /* border-bottom: 2px solid var(--HyperloopRed) */
  }

  .page-content {
    width: 100%;
    flex-direction: column;
    overflow: auto;
    min-height: calc(100vh - var(--cellularHeaderHeight) - var(--footerHeight));
  }

  .heading {
    font-size: 72px;
    color: white;
    font-weight: bold;
    width: auto;
    margin: 22px auto 16px auto;
  }
  
  .red-button-mobile {
    background-color: var(--HyperloopRed);
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    transition-duration: 1s;
    box-shadow: 0px 0px 0px white;
  }
}

/* Tablet Sizing */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .info-session-div-container{
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: .5em;
  }
  .cellular-only {
    display: none !important;
  }

  .navbar-container-computer {
    display: none;
  }

  header {
    height: var(--tabletHeaderHeight);
    position: sticky;
    z-index: 5;
  }

  #navbar-container-mobile {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    transition-duration: 1s;
    box-shadow: 0px 0px 0px -18px rgba(255, 255, 255, 0.6), 0 3px 24px rgba(0, 0, 0, 0.8);
  }

  .navbar-logo {
    display: block;
    height: 100%;
    float: left;
    padding: 10px 0;
    margin: 0 0 0 20px;
  }

  #mobile-logo {
    display: none;
  }
  #mobile-dropdown-button {
    border: none;
    height: var(--tabletHeaderHeight);
    width: var(--tabletHeaderHeight);
    background-color: rgba(133, 133, 133, 0.7);
    float: right;
    transition: display 1s;
    position: relative;
    outline: none;
  }

  .mobile-dropdown-button-bar {
    height: var(--navigationButtonHeight);
    width: 46px;
    border-radius: 5px;
    background-color: black;
  }

  #mobile-dropdown-container-hidden {
    transform: translate(0px, -200px);
  }

  #mobile-dropdown-container-visible {
    transform: translate(0px, -66px);
  }
  .mobile-dropdown-container {
    outline: 0;
    top: 66px;
    transition: cubic-bezier(0.25, -0.08, 0.21, 0.88);
    padding-top: 66px;
    transition-duration: 0.8s;
    position: absolute;
    height: 132px;
    float: right;
    right: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 1);
    z-index: -1;
  }

  .mobile-dropdown-container ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: auto;
    list-style: none;
    list-style-position: inside;
    list-style-type: none;
  }

  .mobile-dropdown-container li {
    border-radius: 15px;
    width: auto;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    transition: ease-in 0.4s;
    margin: 0 10px 0 10px;
    color: black;
  }
  .mobile-dropdown-container li:hover {
    background-color: rgba(0, 0, 0, 0.6);
    /* box-shadow: 0px 0px 0px -18px rgba(255, 255, 255, .6), 0 0px 24px rgba(0, 0, 0, 0.8); */
    color: white;
  }

  .mobile-link {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
    /* border: 2px solid black; */
    /* border-bottom: 2px solid var(--HyperloopRed) */
  }

  .navbar-logo a img {
    height: 100%;
  }

  .page-content {
    width: 100%;
    min-height: calc(100vh - var(--tabletHeaderHeight) - var(--footerHeight));
    display: inline-flex;
    flex-direction: column;
  }

  .heading {
    font-size: 3em;
    color: white;
    font-weight: bold;
    width: auto;
    margin: 0.7em auto 0.5em auto;
  }
}

/* Desktop/Laptop Sizing */
@media only screen and (min-width: 1024px) {
  .sticky-header{
  /* height: calc(var(--desktopHeaderHeight) * .8); */
  }
  
  .landing-page-video-offset-div {
    /* margin-top: 485px; */
    width: 100%;
  }
  .mobile-only {
    display: none !important;
  }
  .cellular-only {
    display: none !important;
  }

  #navbar-container-mobile {
    display: none;
  }
  .navbar-container-computer {
    display: inline-block;
  }

  .page {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
  }

  .page-content {
    width: 100%;
    height: calc(100% - var(--desktopHeaderHeight));
    min-height: calc(100vh - var(--desktopHeaderHeight) - var(--footerHeight));
    display: inline-flex;
    flex-direction: column;
  }

  header {
    height: var(--desktopHeaderHeight);
  }
  .logo-symbol{
    /* height: 75px; */
    width: calc(var(--desktopHeaderHeight) * .8);
    /* margin: calc(var(--desktopHeaderHeight) * .1) 0; */
  }
  .logo-text{
    padding-left: calc(var(--desktopHeaderHeight) * .1);
    /* max-height: calc(var(--desktopHeaderHeight) * .8); */
    margin: auto;
    /* .8 of desktopheaderheight left */
    margin: calc(var(--desktopHeaderHeight) * .15) 0;
    height: calc(var(--desktopHeaderHeight) * .5);
    /* width: 250px; */
  }

  .navbar-logo a{
    display: inline-block;
    text-decoration: none;
    height: 100%;
  }


  .navbar-container-computer {
    margin: auto;
    height: 100%;
    position: relative;
    /*  */
    border-bottom: solid 1.5px #bdbdbd;
    opacity: 0.48;
    background-color: white;
    z-index: 1000;
    width: 100%;
    transition-duration: 1.5s;
  }

  .navbar-container-computer::after {
    content: "";
    display: table;
    clear: both;
  }
  .navbar-container-computer:hover {
    opacity: 0.76;
  }

  .navbar-logo {
    max-width: 460px;
    height: var(--desktopHeaderHeight);
    float: left;
    padding: calc(var(--desktopHeaderHeight) * .1) 0;
    margin: 0 0 0 calc(var(--desktopHeaderHeight) * .2);
  }

  /* .navbar-logo a img {
    max-height: 100%;
  } */

  nav {
    /* background-color: yellow; */
    float: right;
    height: 100%;
    min-width: 60%;
    position: relative;
    right: 0%;
  }

  nav ul {
    list-style: none;
    height: 80%;
    top: 10%;
    text-decoration: none;
    position: relative;
    display: flex;
    margin-right: 1.5em;
  }

  nav ul li {
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
    padding: 0 15px 0 15px;
    display: inline-block;
    /* border-bottom: solid transparent 3px; */
  }

  .nav-link {
    position: relative;
  }

  .nav-link:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 3px;
    display: block;
    margin-top: 1px;
    right: 0;
    /* background: #fff; */
    opacity: 1;
    background: var(--HyperloopRed);
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link:active::after {
    width: 100%;
    left: 0px;
    right: auto;
  }

  nav ul li a {
    margin: auto;
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    font-weight: 300;
    position: relative;
  }

  nav ul li a:hover {
    font-weight: 1000;
  }

  .heading {
    font-size: 3.5em;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: auto;
    margin: 0.15em auto 0.15em auto;
    position: relative;
  }

  .heading hr {
    margin: 9px 0 9px 0;
  }

  .red-button {
    background-color: var(--HyperloopRed);
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    transition-duration: 1s;
    box-shadow: 0px 0px 13px white;
  }
  .red-button a {
    color: inherit;
  }
  li #giving-day-link:hover {
    box-shadow: 0px 0px 0px -15px rgba(0, 0, 0, 0.6), 0 3px 24px rgba(0, 0, 0, 0.8);
    padding: 6px 11px;
  }

  .left-right-infocontainer-wrapper {
    position: relative;
    height: calc(100% - 4px);
    min-width: 840px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  #sidebar-list-container {
    position: relative;
    max-width: 270px;
    width: auto;
    float: left;
    display: flex;
    align-items: center;
    margin: 0 0% 0 2%;
    height: 80%;
    max-height: 600px;
  }

  #sidebar-list-container ul {
    list-style: none;
    position: relative;
    padding: 0 20px 0 0;
    max-width: 100%;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sidebar-list-label {
    width: 100%;
    height: auto;
    padding: 5px 10px 5px 10px;
    margin: 10px 0;
    max-height: 3.5em;
    white-space: nowrap;
    user-select: none;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    background-image: linear-gradient(to right, transparent 50%, #e2e2e2 50%);
    background-size: 200%;
    border-radius: 15px;
  }

  #rightside-info-container {
    margin: 0 1% 0 2%;
    position: relative;
    /* width: 70%; */
    float: right;
    min-width: 570px;
    height: 95%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .rightside-info-subcontainer {
    position: relative;
    width: 100%;
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    scroll-snap-align: start;
    justify-content: center;
  }

  .rightside-info-subcontainer-content {
    width: 95%;
    height: 95%;
  }
  #giving-day-link {
    padding: 5px 10px;
  }
}

.mobile-content-image img {
  width: 100%;
  height: auto;
}

.blur {
  opacity: 0.7;
}

.centered-text {
  text-align: center;
}

.hovering {
  animation: hyperloop-hover 3s infinite 0s linear;
}
.blurb-container {
  color: white;
  font-size: 1.2em;
}
.blurb-container p {
  /* margin-bottom: 1.5em; */
}

.hyperloop-red {
  color: var(--HyperloopRed);
}

.inactive {
  display: none;
}

.opacity-100 {
  opacity: 1;
}

.opacity-25 {
  opacity: 0.25;
}
.page-content {
  z-index: 0;
}

.white-text {
  color: white;
}
.rotating {
  -webkit-animation: rotating 6s linear infinite;
  -moz-animation: rotating 6s linear infinite;
  -ms-animation: rotating 6s linear infinite;
  -o-animation: rotating 6s linear infinite;
  animation: rotating 6s linear infinite;
}
.slow-rotating {
  -webkit-animation: rotating 12s linear infinite;
  -moz-animation: rotating 12s linear infinite;
  -ms-animation: rotating 12s linear infinite;
  -o-animation: rotating 12s linear infinite;
  animation: rotating 12s linear infinite;
}

.debug-container {
  height: 100px;
  width: 100%;
  background-color: aquamarine;
}

footer {
  display: none;
  background-color: white;
  height: var(--footerHeight);
  width: 100vw;
  box-shadow: 0px 0px 0px -18px rgba(0, 0, 0, 0.6), 0 3px 24px rgba(0, 0, 0, 0.8);
}

.footer-content-container {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer-logo-container {
  width: 300px;
  height: 100%;
}

footer a{
  display: inline-block;
}




.sticky-header div{
  opacity: 1;
}

.red-text{
   color: #ff4949;
}

.team-picture-container img{
    width: 100%;
}



  .team-picture-container{
    width: 90%;
    margin: 0 auto;
  }