html{
    /* overflow-y: hidden; */
}

.page{
    background-image: none;
    position: relative;
    min-height: 100vh;
}

.recr-div {
    background-color: rgba(255,255, 255, .5);
}

.recr-subdiv {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.recr-subdiv p {
    /* text-align: left; */
    margin: 10px 0;
    min-width: 40%;
    max-width: 40%;
    font-size: 18px;
    color: rgb(170, 170, 170);
}

.recr-subdiv p a {
    font-size: 18px;
    color: white;
}

.recr-subdiv p a:hover {
    text-decoration: underline;
}

.info-session-div-container h3 {
    color: rgb(170, 170, 170);
}

.info-session-div-container {
    margin-top: 0;
}

/* mobile sizing */
@media only screen and (max-width: 767px){
    .info-session-div-container .recr-subdiv {
        display: block;
        /* padding: 5px; */
    }

    .info-session-div-container .recr-subdiv p {
        margin: 10px 5px;
        min-width: 100%;
        color: black;
    }

    .info-session-div-container .recr-subdiv p a {
        font-size: 18px;
        color: var(--HyperloopRed);
    }

    /* .info-session-div-container h3 {
        color: black;
    } */

    .info-session-div-container h3 {
        color: black;
    }

    .info-session-div-container {
        /* margin-top: 400px; */
        background-color: rgba(255,255, 255, .5);
        color: black;
        margin: 1.5em 0;
        text-align: center;
    }
    .page{
        background-image: url("../images/backgrounds/stars.jpg");
    }

    .team-picture-container{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2em;
    }

    #landing-video{
        display: none;
    }
    #apply-button{
        position: absolute;
        margin: 1.5em auto .5em auto;
        width: 60%;
        top: 330px;
        left: 0;
        right: 0;
    }
 
    #application-pdf-button{
        position: absolute;
        width: 60%;
        margin: .5em auto;
        top: 420px;
        left: 0;
        right: 0;
    }
    .applications-info-box{
        z-index: -100;
        font-weight: bold;
        text-align: center;
        color: white;
        width: 100%;
        margin: 2em 0;
        font-size: 1.1em;
        background-color: rgba(0,0, 0, .5);
        padding: 20px 0;
    }

    .mobile-version-in-progress-container{
        text-align: center;
        position: absolute;
        bottom: 1em;
        width: 90%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .mobile-version-in-progress-container img{
        width: 100%;
    }

    .team-picture{
        border-bottom: 1px solid rgba(255,255, 255, .7);
        border-top: 1px solid rgba(255,255, 255, .7);
        width: 100vw;
        height: fit-content;
        /* display: inline-flex; */
        background-color: beige;
    }
      .blurb-container {
    width: 90%;
    margin: 1.5em auto;
    /* padding-bottom: 2em; */
    line-height: 1.3em;
  }


}
@media only screen and (min-width: 768px) and (max-width: 1023px){
      .blurb-container {
    width: 90%;
    margin: .5em auto 1.5em auto;
    /* padding-bottom: 2em; */
    line-height: 1.3em;
  }

  .recr-div {
    background-color: rgba(255,255, 255, .5);
}

    .recr-subdiv {
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .recr-subdiv p {
        /* text-align: left; */
        margin: 10px 0;
        min-width: 40%;
        max-width: 40%;
        font-size: 18px;
        color: rgb(170, 170, 170);
    }

    .recr-subdiv p a {
        font-size: 18px;
        color: white;
    }

    .recr-subdiv p a:hover {
        text-decoration: underline;
    }

    .info-session-div-container h3 {
        color: rgb(170, 170, 170);
    }

    .team-picture-container{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 2em;
    }

    .landing-video-container{
        position: absolute;
        top: 0px;
        width: 100%;
        
    }
    .twitter-container{
        width:300px;
        height:300px;
        margin-top:3px;
        margin-right:5%;
        float:right;
        background:#707070;
        text-align: center;
    }
    .table{
        display:table;
        height: 100%;
        width: 100%;
    }
    .table-cell{
        display:table-cell;
        vertical-align: middle;
    }

    #apply-button{
        position: absolute;
        top: 90px;
        left: 2em;
    }
    #donate-button{
        position: absolute;
        top: 90px;
        right: 2em;
    }
    
    #application-pdf-button{
        position: absolute;
        top: 90px;
        right: 2em;
    }

    .applications-info-box{
        font-weight: bold;
        position: absolute;
        top: 65%;
        text-align: center;
        color: white;
        width: 100%;
        font-size: 1.1em;
        background-color: rgba(0,0, 0, .5);
    }

    .mobile-version-in-progress-container{
        display: none;
    }
}
/* Desktop/Laptop Sizing */
@media only screen and (min-width: 1024px) {
    .recr-div {
        background-color: rgba(255,255, 255, .5);
    }
    
    .recr-subdiv {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    
    .recr-subdiv p {
        /* text-align: left; */
        margin: 10px 0;
        min-width: 40%;
        max-width: 40%;
        font-size: 18px;
        color: rgb(170, 170, 170);
    }
    
    .recr-subdiv p a {
        font-size: 18px;
        color: white;
    }
    
    .recr-subdiv p a:hover {
        text-decoration: underline;
    }
    
    .info-session-div-container h3 {
        color: rgb(170, 170, 170);
    }

     .team-picture-container{
        margin: 0 auto;
        padding-bottom: 2em;
    }
    .blurb-container {
        width: 90%;
        margin: 0 auto 1em auto;
        line-height: 1.3em;
    }
    .info-session-div-container{
    text-align: center;
    position: absolute;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: .25em 0;
    box-shadow: 0px 0px 0px -15px rgba(0, 0, 0, 0.6), 0 3px 24px rgba(0, 0, 0, 0.8);
    /* margin-top: 4em; */
  }
}
.info-session-div-container a{
    color: inherit;
    text-decoration: none;
    line-height: 1.2em;
    text-align: center;
    font-size: 1.2em;
  }
 





#landing-video{
    /* position: absolute; */
    width: 100%;
}




.applications-info-box h3{
    margin-top: .5em;
    /* color: var); */
}









  #hyperloop-mobile-title{
      margin: 0 20px;
  }


.recr-div {
    background-color: rgba(255,255, 255, .5);
}

.recr-subdiv {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.recr-subdiv p {
    /* text-align: left; */
    margin: 10px 0;
    min-width: 40%;
    max-width: 40%;
    font-size: 18px;
    color: rgb(170, 170, 170);
}

.recr-subdiv p a {
    font-size: 18px;
    color: white;
}

.recr-subdiv p a:hover {
    text-decoration: underline;
}

/* .info-session-div-container h3 {
    color: rgb(170, 170, 170);
} */
  