html{
    overflow-y: hidden;
}

.page{
    background-image: none;
    position: relative;
}
@media only screen and (max-width: 767px){
    .blurb-container{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2em;
        line-height: 1.3em;
    }
    
}



@media only screen and (max-width: 767px){
    .landing-video-container video{
        display: none;
    }
    #apply-button{
        position: absolute;
        margin: 1.5em auto .5em auto;
        width: 60%;
        top: 330px;
        left: 0;
        right: 0;
    }
 
    #application-pdf-button{
        position: absolute;
        width: 60%;
        margin: .5em auto;
        top: 420px;
        left: 0;
        right: 0;
    }
    .applications-info-box{
        z-index: -100;
        font-weight: bold;
        text-align: center;
        color: white;
        width: 100%;
        margin: 2em 0;
        font-size: 1.1em;
        background-color: rgba(0,0, 0, .5);
        padding: 20px 0;
    }

    .mobile-version-in-progress-container{
        text-align: center;
        position: absolute;
        bottom: 1em;
        width: 90%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .mobile-version-in-progress-container img{
        width: 100%;
    }

    .page{
        background-image: url("../images/backgrounds/stars.jpg");
    }
    .team-picture{
        border-bottom: 1px solid rgba(255,255, 255, .7);
        border-top: 1px solid rgba(255,255, 255, .7);
        width: 100vw;
        height: fit-content;
        /* display: inline-flex; */
        background-color: beige;
    }


}
@media only screen and (min-width: 768px){
    .team-info-container-wrapper{
    
    }

    .landing-video-container{
        position: absolute;
        top: 0px;
        width: 100%;
        
    }
    #apply-button{
        position: absolute;
        top: 90px;
        left: 2em;
    }
    #donate-button{
        position: absolute;
        top: 90px;
        right: 2em;
    }
    
    #application-pdf-button{
        position: absolute;
        top: 90px;
        right: 2em;
    }

    .applications-info-box{
        font-weight: bold;
        position: absolute;
        top: 65%;
        text-align: center;
        color: white;
        width: 100%;
        font-size: 1.1em;
        background-color: rgba(0,0, 0, .5);
    }

    .mobile-version-in-progress-container{
        display: none;
    }
}


#landing-video{
    /* position: absolute; */
    width: 100%;
}




.applications-info-box h3{
    margin-top: .5em;
    /* color: var); */
}



.blurb-container{
    color: white;
    font-size: 1.2em;
}


.team-picture-container{
    width: 90vw;
    margin: 0 auto;
}

.team-picture-container img{
    width: 100%;
}
.blurb-container p{
    margin-bottom: 1.5em;
}
