:root{
  --material-blue: #1a76d1;
  --material-blue-highlight: rgb(17, 82, 147);
}

.btn, .btn:focus{
  background-color: var(--material-blue);
}

.btn:hover{
  background-color: var(--material-blue-highlight);
}

.right-aligned{
  float: right;
}

.centered{
  display: inherit;
  margin:  0 auto;
}