html{height: 100%; width: 100%;}body{height: 100%; width: 100%;}
.page-scroll{}
.top{margin-top: 0%;}.notop{margin-top: 0;margin-bottom: 0;font-weight: 800; text-align: center;}
.picHold{height: 175px; margin-bottom: 20vh;align-content: center;}
.picHold2{height: 175px; margin-bottom: 15vh;}
.pic{height: auto;border-radius: 50%;position: relative;margin: auto; max-width:100%;}
.nameTxt{color: black; margin-bottom: 1px;font-family: 'Quattrocento Sans', sans-serif;font-weight: 900;}
.picTxt{color: crimson;font-weight: 900;}
.pre-back{background: url(../images/backgrounds/team.jpg) fixed;background-size: cover;height: 100%;background-position: center;}
.whitebackground{background-color: white;}
.sec{margin-top: 20px;}
.blackhr2{background-color: black;height: 5px;color: black;}
.unhide-mobile{display: none;}

.pre-back2{background: url(../images/team/team1compressed.jpg) fixed;background-size: cover;height: calc(70vh);background-position: top;}
.icon-row-bg {background-image: url("../images/icons/bg.png");width: 80%;/*background-color: red;*/background-repeat: no-repeat;background-size: 100%;margin: 2% auto;}
.subteam-container{
  min-height: calc(23vh);
}
.icons{margin: 2% auto;}
.icons img {width: 80%;}
#one img {margin-top: 25%;margin-left: 23%;}
#two img {margin-left: 18%;}
#six img {margin-top: 25%;margin-left: 12%;}
#three img {margin-left: 8%;}
#five img {margin-top: 25%;margin-left: 0;}
#four img {margin-left: 0%;}
#icons {width: 100%;}


#one, #one:hover, #one:active, #one:visited, #one:focus {text-decoration: none;}
#two, #two:hover, #two:active, #two:visited, #two:focus {text-decoration: none;}
#three, #three:hover, #three:active, #three:visited, #three:focus {text-decoration: none;}
#four, #four:hover, #four:active, #four:visited, #four:focus {text-decoration: none;}
#five, #five:hover, #five:active, #five:visited, #five:focus {text-decoration: none;}
#six, #six:hover, #six:active, #six:visited, #six:focus {text-decoration: none;}


.clear {clear: both;}
@media screen and (max-width: 991px) {
    .icon-row-bg{background-image: none;margin: 0 auto; width: 90%;}
    .pre-back2 {background: url(../images/team/team1compressed.jpg) fixed; background-repeat: no-repeat;background-size: cover; background-size:100% auto; max-height: calc(30vh); background-position: 0px 30px;}
    .notop{font-size: 10px;}
    .unhide-mobile{display: block; margin: 0px auto;}
    .hide-mobile{display: none;}

    #one img{margin: 0;}
    #two img{margin: 0;}
    #five img{margin: 0;}
    #six img{margin: 0;}

    .row{height: 0px;}
    .one_lead{height: auto; display: block;}
    .one_lead img{max-width: 50%;}
    #leads,#business,#suspension,#electrical,#maglev,#fuselage{margin: 2%;}
}
