
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.page{
  background-image: url("../images/backgrounds/stars.jpg");
}

.page-content{
  position: relative;
  height: calc(100vh - 98px);
  margin: 0 auto 0 auto;
  overflow-y: hidden;
}


#sidebar-list-container{
  border-right: solid 2px lightgray;
}

.sidebar-list-label{
  /* text-transform: uppercase; */
}

#inactive-label{
  cursor: pointer;
  color: white;
  background-position: 0%;
  opacity: .4;
}

#inactive-label:hover {
  opacity: .8;
  transition: all 1s;
}

#active-label{
  cursor: inherit;
  opacity: 1;
  color: var(--HyperloopRed);
  background-position: -100%;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.8);
}

.profile{
  /* background-color: lightgray; */
  border-radius: 15px;
  color: white;
  position: relative;
  width: 21%;
  max-height: 33%;
  text-align: center;
  margin: 1% 10px 0 10px;
}

.profile h3{
    font-size: 1.3em;
}

.headshot{

}
.headshot img{
  opacity: 1;
  border-radius: 50%;
  width: 85%;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.8);
}


